
<!DOCTYPE html>
	<html>
		<head>
			<title id="title">Project Template</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="CSS_COMMON/util.css">
		<link rel="stylesheet" type="text/css" href="CSS_COMMON/main.css">
      </head>
      <body>

      	<div class="container" id="project-container">
      <!-- Common Elements -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/search">Search<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/add_project">Submit a Project<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-link btn-outline-light my-2 my-sm-0" href="/login">Login</a>
    </div>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-link btn-outline-light my-2 my-sm-0" href="/register">Create Account</a>
    </div>
    </div>
    </nav>
    <!-- End Common Elements -->

      		<div class="card">
		      	<div class="card-body">
		      		<div class="card">
		      			<% if(!data) { %>
		      				<h3 class="card-title text-center" id="project-title">No Title</h3>
		      			<% } else { %>
		      				<h3 class="card-title text-center" id="project-title">
		      					<%= data.title %>
		      				</h3>
		      			<% } %>
		      		</div>
		      	<br>
		      		<h6 class="card-subtitle font-weight-bold">
		      			Description:
		      		</h6>
		      		<br>
		      		<p class="card-text" id="project-description">
		      			<% if(!data) { %>
		      				No description provided for this project.
			      		<% } else { %>
			      			<%= data.description %>
			      			<br><br>
			      		<% } %>
		      		</p>
		      		<p class="font-weight-bold">
		      			Additional Project Materials:
		      		</p>
		      		<p>
		      			<% if(data && data.link != "") { %>
		      				<a id="project-link" class="card-link" href='<%= data.link %>' target="_Blank">
		      					&emsp; <%= data.link %>
		      				</a>
		      				<br>
		      				<br>
		      			<% } else { %>
		      				<a id="project-link" class="card-link" href="#" target="_Blank">
		      					&emsp; No Link Provided
		      				</a>
		      				<br>
		      				<br>
		      			<% } %>
		      		</p>
		      		<div class="row">
		      			<div class="col" id="project-skills">
		      				<p class="font-weight-bold">Skills:</p>
		      				<ul class="list-group" id="project-skills-list">
		      					<% if(data && data.skills !="[]") {
		      					for(var i = 0; i < data.skills.length; i++){ %>
		      					<li class="list-group-item"><%= data.skills[i] %></li>
		      					<% }} else {%>

		      					<li class="list-group-item">No skills attached to this project</li>
		      					
		      					<% } %>
		      				</ul>
		      			</div>
		      			<div class="col" id="project-interests">
		      				<p class="font-weight-bold">Interests:</p>
		      				<ul class="list-group" id="project-interests-list">
		      					<% if(data && data.interests !="[]") {
		      					for(var i = 0; i < data.interests.length; i++){
		      					console.log(data.interests[i]) %>
		      					<li class="list-group-item"><%= data.interests[i] %></li>
		      					<% }} else {%>

		      					<li class="list-group-item">No interests attached to this project</li>
		      					
		      					<% } %>
		      				</ul>
		      			</div>
		      		</div>
		      		
		      	</div>
		    </div>
	    </div>


      	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      </body>
    </html>
