<!DOCTYPE html>

<html>
	<header>
		<!-- Script for search and display -->
		<script type="text/javascript" src="../Scripts/search.js"></script>

		<title>Search Page</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<!-- These 4 things are Bootstrap includes -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="CSS_COMMON/util.css">
		<link rel="stylesheet" type="text/css" href="CSS_COMMON/main.css">
	</header>


	<body onload="load_test()">

		<!-- Common Elements -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <a class="nav-link" href="LandingPage.html">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="search.html">Search<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="userAdd.html">Submit a Project<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-link btn-outline-light my-2 my-sm-0" href="Login.html">Login</a>
    </div>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-link btn-outline-light my-2 my-sm-0" href="Registration.html">Create Account</a>
    </div>
    </div>
    </nav>
    <!-- End Common Elements -->

		<div class="container" id="form-container">

			<form method="GET" action="#" id="search-form">
				<div class="form-row">
					<div class="col">
						<label for="search-bar"><h1>Search</h1></label>
						<input type="text" class="form-control" id="search-bar" name="search-term" placeholder="Search"></input>
					</div>
				</div>

				<!-- Labels for checkbox regions -->
				<div class="form-row" id="check-labels">
					<div class="col">
						<h3>Languages</h3>
					</div>
					<div class="col">
						<h3>Skills</h3>
					</div>
					<div class="col">
						<h3>Interests</h3>
					</div>
				</div>

				<!-- Checkboxes for skills and interests -->
				<div class="form-row" id="checkbox-row">
					<!-- Languages -->
					<div class="col">
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" value=1 name="skills" id="HTML">
							<label for="HTML" class="form-check-label">HTML</label>
						</div>
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" value=22 name="skills" id="Python">
							<label for="Python" class="form-check-label">Python</label>
						</div>
					</div>

					<!-- Skills -->
					<div class="col">
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" value=13 name="skills" id="IOSDev">
							<label for="IOSDev" class="form-check-label">IOS Dev</label>
						</div>
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" value=25 name="skills" id="Algorithms">
							<label for="Algorithms" class="form-check-label">Algorithms</label>
						</div>
					</div>

					<!-- Interests -->
					<div class="col">
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" value=3 name="interests" id="Databases">
							<label for="Databases" class="form-check-label">Databases</label>
						</div>
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" value=4 name="interests" id="Automation">
							<label for="Automation" class="form-check-label">Automation</label>
						</div>
					</div>
				</div>

				<!-- Submit button -->
				<div class="form-row">
					<div class="col form-group">
						<input type="submit" value="Submit">
					</div>
				</div>
			</form>
		</div>

		<div class="container" id="card-container">
			<div id="card-field">
				<!-- This starts out blank -->
				<h3>Your Results (Proof of concept):</h3>
				<script>
					console.log("Loaded card-field");
				</script>
			</div>
		</div>
	</body>

</html>
