<!DOCTYPE html>

<html>
	<header>
		<!-- Script for search and display -->
		<script type="text/javascript" src="/Scripts/search.js"></script>

		<title>Search Page</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<!-- These 4 things are Bootstrap includes -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/CSS_COMMON/util.css">
		<link rel="stylesheet" type="text/css" href="/CSS_COMMON/main.css">
	</header>


	<body>

		<!-- Common Elements -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/search">Search<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/add_project">Submit a Project<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-link btn-outline-light my-2 my-sm-0" href="/login">Login</a>
    </div>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-link btn-outline-light my-2 my-sm-0" href="/register">Create Account</a>
    </div>
    </div>
    </nav>
    <!-- End Common Elements -->

		<div class="container" id="form-container">

			<form method="GET" action="/search/results" id="search-form">
				<div class="form-row">
					<div class="col">
						<label for="search-bar"><h1>Search</h1></label>
						<input type="text" class="form-control" id="search-bar" name="search_term" placeholder="Title or topic"></input>
					</div>
				</div>


				<div class="well" style="min-height: 30px;"></div>


				<div class="row">
			        <label for="sel1">&nbsp;&nbsp;&nbsp;&nbsp;Skills Involved:</label>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=1 name="skills" id="HTML">
			          <label for="HTML" class="form-check-label">HTML</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=2 name="skills" id="CSS">
			          <label for="CSS" class="form-check-label">CSS</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=3 name="skills" id="Database">
			          <label for="Database" class="form-check-label">Database</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=4 name="skills" id="HTTP Server">
			          <label for="HTTP Server" class="form-check-label">HTTP Server</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=5 name="skills" id="API Access">
			          <label for="API Access" class="form-check-label">API Access</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=6 name="skills" id="Oauth">
			          <label for="Oauth" class="form-check-label">Oauth</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=7 name="skills" id="Error Handling">
			          <label for="Error Handling" class="form-check-label">Error Handling</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=9 name="skills" id="JavaScript">
			          <label for="JavaScript" class="form-check-label">JavaScript</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=10 name="skills" id="SQL">
			          <label for="SQL" class="form-check-label">SQL</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=11 name="skills" id="Swift">
			          <label for="Swift" class="form-check-label">Swift</label>
			        </div>
			    </div>

			    <div class="row">
			        <label for="sel1">&nbsp;&nbsp;&nbsp;&nbsp;Skills Involved:</label>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=12 name="skills" id="Kivy">
			          <label for="Kivy" class="form-check-label">Kivy</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=13 name="skills" id="IOS Dev">
			          <label for="IOS Dev" class="form-check-label">IOS Dev</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=14 name="skills" id="Android Dev">
			          <label for="Android Dev" class="form-check-label">Android Dev</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=15 name="skills" id="Systems">
			          <label for="Systems" class="form-check-label">Systems</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=17 name="skills" id="Password Cracking">
			          <label for="Password Cracking" class="form-check-label">Password Cracking</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=18 name="skills" id="Kali Linux">
			          <label for="Kali Linux" class="form-check-label">Kali Linux</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=19 name="skills" id="SQL Injection">
			          <label for="SQL Injection" class="form-check-label">SQL Injection</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=20 name="skills" id="XSS">
			          <label for="XSS" class="form-check-label">XSS</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=22 name="skills" id="Buffer Overflow Attacks">
			          <label for="Buffer Overflow Attacks" class="form-check-label">Buffer Overflow Attacks</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=23 name="skills" id="Text Classification">
			          <label for="Text Classification" class="form-check-label">Text Classification</label>
			        </div>
			    </div>

			    <div class="row">
			        <label for="sel1">&nbsp;&nbsp;&nbsp;&nbsp;Skills Involved:</label>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=24 name="skills" id="Statistical Inference">
			          <label for="Statistical Inference" class="form-check-label">Statistical Inference</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=25 name="skills" id="Algorithms">
			          <label for="Algorithms" class="form-check-label">Algorithms</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=26 name="skills" id="Tensorflow">
			          <label for="Tensorflow" class="form-check-label">Tensorflow</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=27 name="skills" id="CNN">
			          <label for="CNN" class="form-check-label">CNN</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=28 name="skills" id="Computer Vision">
			          <label for="Computer Vision" class="form-check-label">Computer Vision</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=29 name="skills" id="Image Classification">
			          <label for="Image Classification" class="form-check-label">Image Classification</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=30 name="skills" id="Instagram API">
			          <label for="Instagram API" class="form-check-label">Instagram API</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=31 name="skills" id="Keras">
			          <label for="Keras" class="form-check-label">Keras</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=32 name="skills" id="Sklearn">
			          <label for="Sklearn" class="form-check-label">Skl</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=33 name="skills" id="Vowpal Wabbit">
			          <label for="Vowpal Wabbit" class="form-check-label">Vowpal Wabbit</label>
			        </div>
			    </div>

			    <div class="row">
			        <label for="sel1">&nbsp;&nbsp;&nbsp;&nbsp;Skills Involved:</label>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=35 name="skills" id="Twitter API">
			          <label for="Twitter API" class="form-check-label">Twitter API</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input class="form-check-input" type="checkbox" value=36 name="skills" id="Scrapy">
			          <label for="Scrapy" class="form-check-label">Scrapy</label>
			        </div>
			    </div>

			    <div class="well" style="min-height: 15px;"></div>

			    <div class="row">
			        <label for="sel1">&nbsp;&nbsp;&nbsp;&nbsp;Related Interests:</label>
			        <div class="form-check form-check-inline">
			          <input type="checkbox" class="form-check-input" value=1 name="interests" id="Web Dev">
			          <label for="Web Dev" class="form-check-label">Web Dev</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input type="checkbox" class="form-check-input" value=2 name="interests" id="Blog">
			          <label for="Blog" class="form-check-label">Blog</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input type="checkbox" class="form-check-input" value=3 name="interests" id="Databases">
			          <label for="Databases" class="form-check-label">Databases</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input type="checkbox" class="form-check-input" value=4 name="interests" id="Automation">
			          <label for="Automation" class="form-check-label">Automation</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input type="checkbox" class="form-check-input" value=5 name="interests" id="Authentication">
			          <label for="Authentication" class="form-check-label">Authentication</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input type="checkbox" class="form-check-input" value=7 name="interests" id="API Usage">
			          <label for="API Usage" class="form-check-label">API Usage</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input type="checkbox" class="form-check-input" value=8 name="interests" id="Mobile Dev">
			          <label for="Mobile Dev" class="form-check-label">Mobile Dev</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input type="checkbox" class="form-check-input" value=9 name="interests" id="Ethical Hacking">
			          <label for="Ethical Hacking" class="form-check-label">Ethical Hacking</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input type="checkbox" class="form-check-input" value=10 name="interests" id="Penetration Testing">
			          <label for="Penetration Testing" class="form-check-label">Penetration Testing</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input type="checkbox" class="form-check-input" value=11 name="interests" id="Machine Learning">
			          <label for="Machine Learning" class="form-check-label">Machine Learning</label>
			        </div>
			        <div class="form-check form-check-inline">
			          <input type="checkbox" class="form-check-input" value=13 name="interests" id="Data Science">
			          <label for="Data Science" class="form-check-label">Data Science</label>
			        </div>
			    </div>


			    <div class="well" style="min-height: 30px;"></div>

				<!-- Submit button -->
				<div class="form-row">
					<div class="col form-group">
						<input type="submit" class="btn btn-primary" value="Search">
					</div>
				</div>
			</form>
		</div>

		<div class="container" id="card-container">
			<div id="card-field">
				<!-- This starts out blank -->
				<%console.log(results);
				 if(results != undefined) { %>
					<h3>Your Results:</h3>
					<br>
					<% for(var i = 0; i < 1; i++) { %>
						<% var project = results %>
						<form action="/info" method="get" id='card_<%=i%>'>
							<div class="card">
								<h3 class="card-header">
									Project ID: <%= project.title %>
									<input type="text" name="projid" value='<%=results.id%>' readonly hidden>
								</h3>
								<div class="card-body">
									<h4 class="card-title">
										<%= project.title %>
									</h4>
									<h6 class="card-subtitle mb-2 text-secondary">
										<%= project.description %>
									</h6>
								</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										Skills: <%=project.skills%>
									</li>
									<li class="list-group-item">
										Interests: <%=project.array%>
									</li>
								</ul>
								<div class="card-body">
									<input type="submit" class="btn btn-primary" value="Go to Project">
								</div>
							</div>
						</form>
						<br>
					<% } %>
				<% } %>
				
			</div>
		</div>
				
			</div>
		</div>
	</body>

</html>