<!DOCTYPE html>

<html>
	<header>
		<!-- Script for search and display -->
		<script type="text/javascript" src="/Scripts/search.js"></script>

		<title>Search Page</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<!-- These 4 things are Bootstrap includes -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/CSS_COMMON/util.css">
		<link rel="stylesheet" type="text/css" href="/CSS_COMMON/main.css">
	</header>


	<body>

		<!-- Common Elements -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/search">Search<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/add_project">Submit a Project<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-link btn-outline-light my-2 my-sm-0" href="/login">Login</a>
    </div>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-link btn-outline-light my-2 my-sm-0" href="/register">Create Account</a>
    </div>
    </div>
    </nav>
    <!-- End Common Elements -->

		<div class="container" id="form-container">

			<form method="GET" action="/search/results" id="search-form">
				<div class="form-row">
					<div class="col">
						<label for="search-bar"><h1>Search</h1></label>
						<input type="text" class="form-control" id="search-bar" name="search_term" placeholder="Title or topic"></input>
					</div>
				</div>


				<div class="well" style="min-height: 30px;"></div>


				<div class="row">
					<div class="col">
						<div class="form-group">
						    <label for="exampleFormControlSelect1">Select Skills:</label>
						    <select multiple class="form-control" id="skills" name="skills">
						    <option value=1>HTML</option>
						    <option value=2>CSS</option>
						    <option value=3>Database</option>
						    <option value=4>HTTP Server</option>
						    <option value=5>API Access</option>
						    <option value=6>Oauth</option>
						    <option value=7>Error Handling</option>
						    <option value=8>JavaScript</option>
						    <option value=9>SQL</option>
						    <option value=10>Swift</option>
						    <option value=11>Kivy</option>
						    <option value=12>IOS Dev</option>
						    <option value=13>Android Dev</option>
						    <option value=14>Systems</option>
						    <option value=15>Password Cracking</option>
						    <option value=16>Kali Linux</option>
						    <option value=17>SQL Injection</option>
						    <option value=18>XSS</option>
						    <option value=19>Buffer Overflow Attacks</option>
						    <option value=20>Python</option>
						    <option value=21>Text Classification</option>
						    <option value=22>Statistical Inference</option>
						    <option value=23>Algorithms</option>
						    <option value=24>Tensorflow</option>
						    <option value=25>CNN</option>
						    <option value=26>Computer Vision</option>
						    <option value=27>Image Classification</option>
						    <option value=28>Instagram API</option>
						    <option value=29>Keras</option>
						    <option value=30>Sklearn</option>
						    <option value=31>Vowpal Wabbit</option>
						    <option value=32>Twitter API</option>
						    <option value=33>Scrappy</option>
						    </select>
					  	</div>
					</div>
					<div class="col">
						<div class="form-group">
						    <label for="exampleFormControlSelect1">Select Interests:</label>
						    <select multiple class="form-control" id="interests" name="interests">
						    <option value=1>Web Dev</option>
						    <option value=2>Blog</option>
						    <option value=3>Databases</option>
						    <option value=4>Automation</option>
						    <option value=5>Authentication</option>
						    <option value=7>API Usage</option>
						    <option value=8>Mobile Dev</option>
						    <option value=9>Ethical Hacking</option>
						    <option value=10>Penetration Testing</option>
						    <option value=11>Machine Learning</option>
						    <option value=12>Data Science</option>
						    </select>
					  	</div>						
					</div>
				</div>
				<div class="row">
					<p>
						Use Crtl or Shift click to select multiple skills or interests.
					</p>
				</div>


			    <div class="well" style="min-height: 30px;"></div>

				<!-- Submit button -->
				<div class="form-row">
					<div class="col form-group">
						<input type="submit" class="btn btn-primary" value="Search">
					</div>
				</div>
			</form>
		</div>

		<div class="container" id="card-container">
			<div id="card-field">
				<!-- This starts out blank -->
				<%console.log(results);
				 if(results != undefined) { %>
					<h3>Your Results:</h3>
					<br>
					<% for(var i = 0; i < results.length; i++) { %>
						<% var project = results[i][0] %>
						<form action="/info" method="get" id='card_<%=i%>'>
							<div class="card">
								<h3 class="card-header">
									Project ID: <%= project.id %>
									<input type="text" name="projid" value='<%=project.id%>' readonly hidden>
								</h3>
								<div class="card-body">
									<h4 class="card-title">
										<%= project.title %>
									</h4>
									<h6 class="card-subtitle mb-2 text-secondary">
										<%= project.description.slice(0,256) %>
									</h6>
								</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										Skills: <%=project.skills%>
									</li>
									<li class="list-group-item">
										Interests: <%=project.interests%>
									</li>
								</ul>
								<div class="card-body">
									<input type="submit" class="btn btn-primary" value="Go to Project">
								</div>
							</div>
						</form>
						<br>
					<% } %>
				<% } %>
				
			</div>
		</div>
				
			</div>
		</div>
	</body>

</html>